<h1>Admin::Dashboard#show</h1>

<h2>There are <a href="/admin/products#index" ><%= @count %> </a> products are in the database </h2>
<h2>There are <a href="/admin/categories" ><%= @category_count %> </a> categories are in the database</h2>
