<h1>About Me</h1>

<div>

<figure class="text-center">
  <blockquote class="blockquote">
    <p>Plants are a part of beautiful nature. They are very important for our survival. They purify the air and make our environment healthy to live in. There are different types of plants, some are small and some are big. We see them everywhere, in our gardens, parks and even in our homes. They play an important role in making our surroundings attractive.

    Apart from their beauty, plants are important for us in many ways. They produce oxygen which is necessary for our breathing. They also help in controlling pollution as they absorb harmful gases from the atmosphere.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>

</div>